In [48]:
# import the usual
# import matplotlib.pyplot as plt
import pandas as pd
# import seaborn as sns
import numpy as np
# import hashlib 
import datetime
#import surprise
#from surprise import SVD
%matplotlib inline
pd.set_option('display.max_columns', 500)

In [49]:
data_profile = pd.read_csv(r"F:\Data_Repository\lastfm\usersha1-profile.tsv", sep="\t", error_bad_lines=False, header = None, names = ['userhashid','gender','age','country','signup_date'])

In [50]:
data_profile

,userhashid,gender,age,country,signup_date
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007"
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"
5,0000c176103e538d5c9828e695fed4f7ae42dd01,m,20.0,United Kingdom,"Jan 14, 2006"
6,0000ee7dd906373efa37f4e1185bfe1e3f8695ae,m,17.0,Finland,"Nov 17, 2007"
7,0000ef373bbd0d89ce796abae961f2705e8c1faf,f,22.0,Poland,"May 23, 2007"
8,0000f687d4fe9c1ed49620fbc5ed5b0d7798ea20,f,24.0,Spain,"Nov 4, 2008"
9,0001399387da41d557219578fb08b12afa25ab67,m,NaN,Ukraine,"Aug 17, 2008"
10,000163263d2a41a3966a3746855b8b75b7d7aa83,m,27.0,Sweden,"Jan 5, 2007"
11,0001a57568309b287363e72dc682e9a170ba6dc2,NaN,23.0,United States,"May 12, 2007"
12,0001a88a7092846abb1b70dbcced05f914976371,NaN,NaN,Japan,"Oct 13, 2008"
13,0001bd96207f323b53652bf400702719ad456d3c,f,18.0,Finland,"Mar 10, 2008"
14,000215d3060a5b0ab7b3c415d49ec579100d4c87,f,NaN,Australia,"Jul 26, 2008"
15,00024b5b85c40f990c28644d53257819980bf6bb,m,23.0,United States,"Aug 19, 2005"
16,00026e8fc41980c9605eac741cd97b8216d2dbbd,m,30.0,Portugal,"Apr 22, 2007"
17,000294c1f0d9b40067487457ca31f0caab81d44a,m,17.0,Finland,"Aug 25, 2008"
18,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,NaN,27.0,Australia,"Mar 27, 2005"
19,0002dd2154072434d26e5409faa591bfb260a01e,m,30.0,United States,"Aug 23, 2006"
20,0002fa6e25794597126fa44529105cedb31a75aa,m,NaN,Germany,"Jan 2, 2009"
21,00032c7933e0eb05f2258f1147ef81a90f2d4d6c,f,26.0,United States,"Dec 5, 2008"
22,00033e1695a2eb4e5fe2322260cf9f112072342f,m,NaN,Russian Federation,"Feb 1, 2007"
23,00035a0368fd249d286f683e816fbdc97cbfa7d9,m,22.0,United Kingdom,"Mar 27, 2007"
24,0003848c96fb95f8d349c00de9f1760fe2777946,m,14.0,Finland,"Jan 15, 2008"
25,0003906ab668111f2cd332962cb09f8e3b795c6c,m,34.0,Belgium,"Nov 6, 2006"
26,000392e00cf41fbf48865109b72a92b3b72c2fed,NaN,NaN,United Kingdom,"Apr 4, 2008"
27,00040770932c5fce71bfaff2355228a1aac08dd5,m,19.0,Guatemala,"Oct 1, 2008"
28,00041cbfdd019b5431f926133266cc4ba38219bb,m,NaN,United States,"Jun 22, 2008"
29,000429493d9716b66b02180d208d09b5b89fbe64,m,23.0,United States,"Sep 26, 2005"
...,...,...,...,...,...
359317,fffafd71aa24298dbd5a1be22f6be1512a7d7fab,m,20.0,Sweden,"Dec 15, 2008"
359318,fffb07ebacf06714afb8e4592392a3355b65a4d7,f,33.0,Israel,"Jun 3, 2007"
359319,fffb2efe0cf3d512dacab701c6aca64b45c6cf45,m,26.0,France,"Sep 21, 2008"
359320,fffb5a374cd1af347e93af216185e674d491506c,f,33.0,Poland,"Apr 6, 2007"
359321,fffb63874b7ca9ae472fe2e1eaa28fa32f2dc35d,f,NaN,China,"Sep 5, 2007"
359322,fffb76d52b96540811de0fc642f3b903c2a5f747,m,38.0,Spain,"Aug 10, 2009"
359323,fffb96458b1b571b0fb95d94047e520e8c4e658d,f,17.0,Czech Republic,"Aug 20, 2008"
359324,fffbabbcb3576f1ef8233e8431e7d290f424b202,m,47.0,Netherlands,"Oct 29, 2006"
359325,fffbd4c4b5e8c874299529861e1354642dbb4831,m,24.0,Australia,"Feb 9, 2005"
359326,fffc1123a782c76c160f1cd92dbe2edfd537eccf,m,20.0,Germany,"Oct 29, 2007"
359327,fffc29da72a63715b8508979252761f53003d8f7,m,26.0,Norway,"Jun 7, 2005"
359328,fffc737cbdd447fd59092fc5d0d67b1f7cd2e902,m,22.0,Norway,"Feb 10, 2007"
359329,fffc7a7acb9c170521e31364b395a45eda02240c,f,31.0,Sweden,"Dec 17, 2004"
359330,fffc82cd4b93c2312a4f3a1a4631d153e3d5279e,m,19.0,Finland,"Dec 17, 2007"
359331,fffc9978a88e9c838fab57eac284cc06a14dea7b,m,21.0,Norway,"Jan 22, 2006"
359332,fffcd17f6058a3fa0fe83b09d8a2817b8aa05f6f,m,19.0,Finland,"Oct 18, 2006"
359333,fffcdb342de39c80ca248877a3cd6ddccb2a1379,m,33.0,Poland,"Jul 10, 2008"
359334,fffcead773761df0b609d6618153048394ed0fa0,m,20.0,Brazil,"Oct 22, 2008"
359335,fffcf52d27aa7ea75f99d4bff654fa08fcedc4b6,f,25.0,Turkey,"Aug 10, 2007"
359336,fffd372d71d9ef015cc6f1dbf7a3e6f10e512910,f,20.0,France,"Aug 26, 2007"
359337,fffd3df081c03829a9ea4699e2d85e868d7a791b,f,17.0,New Zealand,"Sep 5, 2008"
359338,fffe1f0fc9eb1432b98eb25b2c950850796a4a8b,m,26.0,China,"Apr 30, 2007"
359339,fffe356b9dab2fae1f887fabb1f08ab4976c91bb,f,23.0,Germany,"Jul 24, 2006"
359340,fffe3e8eb1b2db8dcb3f3fe753552d5803d085f1,f,19.0,United Kingdom,"Jun 4, 2007"
359341,fffe454af08a58c7bafe77491b586711f6b5e6f1,m,28.0,Austria,"Nov 7, 2008"
359342,fffe7823f67b433b45f22056467db921c1d3d7d0,m,25.0,Germany,"Jun 24, 2006"
359343,fffe8637bd8234309e871409c7ebef99a720afc1,m,25.0,Brazil,"Sep 9, 2007"
359344,fffe8c7f952d9b960a56ed4dcb40a415d924b224,m,20.0,United States,"Aug 8, 2007"
359345,ffff9af9ae04d263dae91cb838b1f3a6725f5ffb,m,20.0,Russian Federation,"Dec 3, 2005"
359346,ffff9ef87a7d9494ada2f9ade4b9ff637c0759ac,m,21.0,Belgium,"Nov 25, 2008"

In [ ]:
# data_artist = pd.read_csv(r"F:\Data_Repository\lastfm\usersha1-artmbid-artname-plays.tsv", sep="\t", error_bad_lines=False, header = None,
#                           names = ['userhashid','artistid','artistName','plays'])

In [ ]:
# data_artist

In [ ]:
# data_artist['userhashid'].nunique()

In [ ]:
#Music Data Loading
df = pd.read_csv(r"F:\Data_Repository\lastfm\userid-timestamp-artid-artname-traid-traname.tsv", sep="\t", error_bad_lines=False, header = None)

In [ ]:
df.columns = ['userid', 'timestamp', 'artistid', 'artist', '1', 'song']

In [51]:
df.head()

,userid,artistid,artist,1,song,time
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15),2009-05-04 13:52:04
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15),2009-05-04 13:42:52
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15),2009-05-04 13:42:11

In [ ]:
df['time'] = pd.to_datetime(df['timestamp'])
df.drop(['timestamp'], axis=1, inplace=True)

In [52]:
df.head()

,userid,artistid,artist,1,song,time
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15),2009-05-04 13:52:04
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15),2009-05-04 13:42:52
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15),2009-05-04 13:42:11

### Removing artist name and song id (possibly) from the user_songs_df dataframe

In [ ]:
user_songs_df = df.drop(['artist'], axis=1, inplace=False)
user_songs_df.columns = ['userid', 'artistid', 'songid', 'song', 'time']
user_songs_df = user_songs_df.drop(['songid'], axis=1, inplace=False)

In [ ]:
user_songs_df.head()

In [ ]:
print('Number of songs : ' + str(user_songs_df['song'].nunique()))

In [ ]:
user_unique = user_songs_df['userid'].drop_duplicates()

In [ ]:
type(user_unique)

In [ ]:
#user_unique = map(lambda s: s.strip(), user_unique)

In [ ]:
user_unique = user_unique.reset_index()
user_unique = user_unique.drop('index', axis = 1)

In [ ]:
user_unique

In [ ]:
# user_unique2 = user_songs_df.copy()

In [ ]:
# user_unique2['username'] = user_songs_df['userid'].drop_duplicates()

In [ ]:
# user_unique2.head()

In [ ]:
data_profile['username'] = user_unique

In [ ]:
data_profile[:992]

In [ ]:
data_profile['userhashid'].nunique()

In [ ]:
# create user profile data after merging
#user_songs_df[pd.Series( user_songs_df['userid'].unique() ) ]
#user_songs_df['userid'].value_counts().sort_index()
#user_songs_df [ pd.Series ( user_songs_df['userid'].unique().tolist() ) ]

In [ ]:
user_songs_df.head()

In [ ]:
user_songs_df = user_songs_df.merge(data_profile[:992], left_on='userid', right_on='username', how = 'outer')

In [ ]:
user_songs_df.head()

In [ ]:
user_songs_df = user_songs_df.drop(['userhashid', 'signup_date', 'username'], axis = 1)

In [ ]:
#user_songs_df = user_songs_df.rename ( columns = {"userid_x" : "userid"} )

In [53]:
user_songs_df.head()

,userid,artistid,song,time,gender,age,country
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57,f,22.0,Germany
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10,f,22.0,Germany
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc2 (Live_2009_4_15),2009-05-04 13:52:04,f,22.0,Germany
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Hibari (Live_2009_4_15),2009-05-04 13:42:52,f,22.0,Germany
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc1 (Live_2009_4_15),2009-05-04 13:42:11,f,22.0,Germany

In [54]:
def get_unique_count(column):
    return len(set(column))

In [55]:
len(user_songs_df)

19098853

In [56]:
# df_songs_heard_10_users = user_songs_df.groupby("song").filter(lambda x: get_unique_count( x['userid']) > 10)

In [57]:
# len(df_songs_heard_10_users)

In [58]:
# df_songs_heard_10_users.head()

In [59]:
# print('Number of songs heard by at least 10 users : ' + str(df_songs_heard_10_users['song'].nunique()))
# print('Number of users in this dataframe : ' + str(df_songs_heard_10_users['userid'].nunique()))

In [60]:
# %%time
# df_songs_heard_100_users = user_songs_df.groupby("song").filter(lambda x: get_unique_count(x['userid'])>100)

In [61]:
# len(df_songs_heard_100_users)

In [62]:
# df_songs_heard_100_users.head()

In [63]:
# print('Number of songs heard by at least 100 users : ' + str(df_songs_heard_100_users['song'].nunique()))
# print('Number of users in this dataframe : ' + str(df_songs_heard_100_users['userid'].nunique()))

### Creation of timeslots

In [64]:
# df_songs_heard_100_users['hour'] = df_songs_heard_100_users['time'].dt.hour

In [65]:
# df_songs_heard_100_users.head()

In [66]:
#function to return slot number
def slot(hour):
    if 0 <= hour and hour <= 5:
        return 1
    elif 6 <= hour and hour <= 11:
        return 2
    elif 12 <= hour and hour <= 17:
        return 3
    else:
        return 4

In [67]:
# %%time
# df_songs_heard_100_users['slot'] = df_songs_heard_100_users['hour'].apply( lambda x : slot(x) )

In [68]:
# df_songs_heard_100_users.head()

In [69]:
# df_songs_heard_100_users.shape

Get count of songs and add to rest of the data. Use all slots.

In [70]:
# full dataser:
# user_songs_df.head()

In [71]:
%%time
user_song_df_count = user_songs_df.groupby(["userid","song"]).size().reset_index(name="count")

Wall time: 8.34 s

In [72]:
user_song_df_count.head()

        userid                                      song  count
0  user_000001                         '84 Pontiac Dream     14
1  user_000001  (All I Wanted Was To Make You) Feel Good      3
2  user_000001                         (D)Ecaying Beauty      1
3  user_000001                           (Far From) Home      1
4  user_000001            (Get Off Your) High Horse Lady      1

convert into category datatype

In [73]:
%%time
# Convert userid and song names into numerical IDs
user_song_df_count['user_id'] = user_song_df_count['userid'].astype("category").cat.codes
user_song_df_count['song_id_new'] = user_song_df_count['song'].astype("category").cat.codes

# Create a lookup frame so we can get the artist names back in 
# readable form later.
item_lookup = user_song_df_count[['song_id_new', 'song']].drop_duplicates()
item_lookup['song_id_new'] = item_lookup.song_id_new.astype(str)

Wall time: 6.15 s

In [324]:
item_lookup[:2]

  song_id_new                                      song
0         708                         '84 Pontiac Dream
1        1456  (All I Wanted Was To Make You) Feel Good

In [215]:
item_lookup[item_lookup['song_id_new'] == str(702)]

       song_id_new                      song
332777         702  '79 Aka The Shouty Track

In [74]:
user_song_df_count.head()

,userid,song,count,user_id,song_id_new
0,user_000001,'84 Pontiac Dream,14,0,708
1,user_000001,(All I Wanted Was To Make You) Feel Good,3,0,1456
2,user_000001,(D)Ecaying Beauty,1,0,1776
3,user_000001,(Far From) Home,1,0,2001
4,user_000001,(Get Off Your) High Horse Lady,1,0,2058

In [75]:
user_song_df_count.dtypes

userid         object
song           object
count           int64
user_id         int16
song_id_new     int32
dtype: object

In [76]:
user_song_df = user_song_df_count.drop( ['userid', 'song'], axis = 1)

In [77]:
user_song_df.head()

   count  user_id  song_id_new
0     14        0          708
1      3        0         1456
2      1        0         1776
3      1        0         2001
4      1        0         2058

#### Setting first row of every user_id as count=0

In [333]:
user_song_df.loc[user_song_df[:100000].groupby('user_id')['count'].head(2).index, 'count']

1         3.0
2         1.0
3093      2.0
3094      2.0
11222     3.0
11223     1.0
15787    10.0
15788     1.0
21761     2.0
21762     3.0
23735     1.0
23736     1.0
31468     1.0
31469     1.0
32561     2.0
32562     2.0
33169     1.0
33170     5.0
35724     2.0
35725     3.0
36598     2.0
36599    13.0
44131    29.0
44132     1.0
56629    15.0
56630     2.0
59689     1.0
59690     1.0
59969     1.0
59970     1.0
62098     4.0
62099     1.0
69182     1.0
69183     3.0
81033     1.0
81034     2.0
82164     1.0
82165    23.0
85433     1.0
85434     4.0
87433     1.0
87434     1.0
97165     9.0
97166     1.0
Name: count, dtype: float64

In [98]:
#user_song_df.loc[user_song_df.groupby('user_id')['count'].head(1).index, 'count'] = np.NaN
# user_song_df.loc[user_song_df.groupby('user_id')['count'].head(1).index, 'count'] = 0

M = 200000 #slice of df

altered_songid_new_list = user_song_df.loc[user_song_df[:M].groupby('user_id')['song_id_new'].head(1).index, 'song_id_new']
user_song_df.loc[user_song_df[:M].groupby('user_id')['count'].head(1).index, 'count'] = np.NaN
altered_user_id_list = user_song_df.loc[user_song_df[:M].groupby('user_id')['user_id'].head(1).index, 'user_id']

In [99]:
altered_user_id_list

0          0
3092       1
11221      2
15786      3
21760      4
23734      5
31467      6
32560      7
33168      8
35723      9
36597     10
44130     11
56628     12
59688     13
59968     14
62097     15
69181     16
81032     17
82163     18
85432     19
87432     20
97164     21
102894    22
104934    23
115206    24
126800    25
131138    26
131961    27
138417    28
147275    29
151010    30
169733    31
171181    32
178083    33
183308    34
187632    35
189907    36
192513    37
196224    38
197878    39
Name: user_id, dtype: int16

In [100]:
altered_songid_new_list

0          708
3092       291
11221      264
15786       92
21760     1895
23734      532
31467     1026
32560     6728
33168     1307
35723       82
36597      118
44130       62
56628     1238
59688     2902
59968     1479
62097     1500
69181      264
81032     1229
82163      244
85432     1212
87432       61
97164      413
102894    1848
104934     264
115206     212
126800       6
131138    1494
131961     422
138417      92
147275      82
151010     264
169733    1188
171181       2
178083      82
183308     781
187632     104
189907      92
192513    1367
196224    3192
197878     196
Name: song_id_new, dtype: int32

40 users changed

In [115]:
user_song_df.head()

   count  user_id  song_id_new
1    3.0        0         1456
2    1.0        0         1776
3    1.0        0         2001
4    1.0        0         2058
5   13.0        0         2654

In [105]:
len(user_song_df) #before dropping: 4407910
#after: 4407870

4407870

In [104]:
user_song_df = user_song_df.dropna()     #drop all rows that have any NaN values

user-item and count dataframe is ready

as count of songs played is an implicit feedback from users we will use ALS implicit model. 
Here, zeroes (absence) can signify 2 things: users do not like the song or have not yet heard that song.

Explicit feedback models only take dislike or like into account (like rating)

In [106]:
%%time
# Create lists of all users, songs and counts
users = list(np.sort(user_song_df.user_id.unique()))
songs = list(np.sort(user_song_df.song_id_new.unique()))
counts = list(user_song_df['count'])

Wall time: 687 ms

In [107]:
x = user_song_df[['user_id', 'song_id_new']]
y = user_song_df[['count']]

Creation of train and test data. ON HOLD

Cython impors for ALS

In [108]:
import sys
import pandas as pd
import numpy as np
import scipy.sparse as sparse
from scipy.sparse.linalg import spsolve
import random

from sklearn.preprocessing import MinMaxScaler

import implicit # The Cython library

In [116]:
# %%time
# #old one before altering DF
# sparse_item_user = sparse.csr_matrix((user_song_df_count['count'].astype(float), 
#                                       (user_song_df_count['song_id_new'], user_song_df['user_id'])))

# sparse_user_item = sparse.csr_matrix((user_song_df_count['count'].astype(float), 
#                                       (user_song_df_count['user_id'], user_song_df['song_id_new'])))

In [288]:
%%time
sparse_item_user = sparse.csr_matrix((user_song_df['count'].astype(float), 
                                      (user_song_df['song_id_new'], user_song_df['user_id'])))

sparse_user_item = sparse.csr_matrix((user_song_df['count'].astype(float), 
                                      (user_song_df['user_id'], user_song_df['song_id_new'])))

Wall time: 640 ms

In [289]:
#after making first row of every user zero
sparse_item_user.shape
#old values: (1083471, 992)

(1083471, 992)

In [290]:
sparse_user_item.data

array([3., 1., 1., ..., 4., 5., 4.])

In [291]:
sparse_item_user.shape

(1083471, 992)

In [292]:
sparse_user_item.shape #transpose of above csr matrix

(992, 1083471)

In [294]:
# %%time
# # Initialize the als model and fit it using the sparse item-user matrix
# model = implicit.als.AlternatingLeastSquares(factors=20, regularization=0.1, iterations=20)

# # Calculate the confidence by multiplying it by our alpha value.
# alpha_val = 15
# data_conf = (sparse_item_user * alpha_val).astype('double')

We have the item-user data multiplied with the Confidence_Alpha_value.

In [295]:
# %%time
# # Fit the model
# model.fit(data_conf)

### CREATE USER RECOMMENDATIONS

In [296]:
# # Create recommendations for user with id 150
# user_id = 150

# # Use the implicit recommender.
# recommended = model.recommend(user_id, sparse_user_item)

# songs = []
# scores = []

# # Get artist names from ids
# for item in recommended:
#     idx, score = item
#     songs.append(user_song_df_count.song.loc[user_song_df_count.song_id_new == idx].iloc[0])
#     scores.append(score)

# # Create a dataframe of artist names and scores
# recommendations = pd.DataFrame({'Song': songs, 'score': scores})

# print ("Top 10 recommendations for user_id:", user_id)
# print (recommendations)

In [308]:
## create function to recommend using ALS for user_id
def ALS_recommend_for_user(model, user_id, sparse_user_item, N = 10 ): #will add moe parameters later
    #user_id = 150

    # Use the implicit recommender.
    recommended = model.recommend(user_id, sparse_user_item, N)
    
    songs = []
    scores = []
    song_id_new_list = []
    
    # Get artist names from ids
    for item in recommended:
        idx, score = item
        songs.append(user_song_df_count.song.loc[user_song_df_count.song_id_new == idx].iloc[0])
        scores.append(score)
        song_id_new_list.append(idx)

    # Create a dataframe of artist names and scores
    recommendations = pd.DataFrame({'Song': songs, 'song_id_new': song_id_new_list, 'score': scores})

    print ("Top ", N, "recommendations for user_id:", user_id)
    return (recommendations)

In [301]:
#print(ALS_recommend_for_user(model, 150, sparse_user_item, 2))

In [302]:
#user_song_df_count.head(2)

In [303]:
#user_song_df_count [ user_song_df_count['user_id']== 150 ] ['song'] [:10]

In [304]:
#type(recommendations['Song'])

In [305]:
# pd.Series(recommendations['Song'].isin(user_song_df_count [ user_song_df_count['user_id']== 0 ] ['song']).values.astype(int), recommendations['Song'].values)

##### This suggests that the recommendations given do not include previously existing items in the user's history

#### Creation of leave_one_out train and test dataset

In [126]:
# import random

In [127]:
# random.seed ( 10 ) #to set the seed and get the same randoms

This returns a training set with masked values as '0'. Test set contains present or not present values for the items.

In [129]:
# %%time
# #get train and tst set
# train_masked, test, users_altered, pairs_altered = make_train(sparse_user_item, pct_test = 0.00001)

In [130]:
# train_masked

In [131]:
# train_masked.data

In [132]:
# sparse_user_item #original train

In [133]:
# sparse_user_item.data #original train

In [134]:
#sparse_user_item.nonzero()

Now we have to train the model on the maked_training set and check whether the recommended items fall within the recommendations.

In [135]:
#pairs_altered[5]

In [136]:
# len(pairs_altered)

In [137]:
#sparse_user_item[ pairs_altered[55] ]

In [138]:
#train_masked[ pairs_altered[55] ]

a. Training the model

In [139]:
# %%time
# # Initialize the als model and fit it using the sparse item-user matrix
# model = implicit.als.AlternatingLeastSquares(factors=20, regularization=0.1, iterations=20)

# # Calculate the confidence by multiplying it by our alpha value.
# alpha_val = 15
# data_conf = (train_masked * alpha_val).astype('double')

In [140]:
# %%time
# # Fit the model
# model.fit(data_conf)

In [141]:
# len(users_altered)

In [142]:
# users_altered[:3]

In [143]:
# recommendation_ans = (ALS_recommend_for_user(model, users_altered[0], train_masked.T, 20))
# print(recommendation_ans)

In [309]:
#pairs_altered

In [144]:
# sparse_user_item[ pairs_altered[0] ]

In [145]:
# pairs_altered[0][0]

In [146]:
# for i in pairs_altered:
#     print(pd.Series(recommendation_ans['Song'].isin(user_song_df_count [ user_song_df_count['user_id']== i[0] ] ['song']).values.astype(int), recommendation_ans['Song'].values))

In [147]:
# for i in pairs_altered:
#     print(pd.Series(recommendation_ans['Song'].isin(user_song_df_count [ user_song_df_count['user_id']== i[0] ] ['song']).values.astype(int), recommendation_ans['Song'].values)==1)

In [149]:
# altered_songid_new_list
# altered_user_id_list

#### recommend for altered users 
#### then check if the pred_songs exist in the actual_song_list

In [306]:
%%time
# Initialize the als model and fit it using the sparse item-user matrix
model = implicit.als.AlternatingLeastSquares(factors=20, regularization=0.1, iterations=20)

# Calculate the confidence by multiplying it by our alpha value.
alpha_val = 15
data_conf = (sparse_item_user * alpha_val).astype('double')

Wall time: 40.9 ms

In [307]:
%%time
# Fit the model
model.fit(data_conf)

100%|████████████████████████████████████████████████████████████████████████████████| 20.0/20 [00:19<00:00,  1.02it/s]

Wall time: 19.9 s

In [309]:
recommendation_ans = (ALS_recommend_for_user(model, altered_user_id_list[0], sparse_user_item, 50))
print (recommendation_ans)

Top  50 recommendations for user_id: 0
                                Song  song_id_new     score
0                                 Io       457060  1.346401
1                         Experience       296634  1.344260
2                          Transient       960093  1.333326
3                            January       468780  1.298728
4                             Embers       278893  1.292983
5                          I Can Fly       412538  1.291788
6                                111        17527  1.278692
7                           Pista 17       693713  1.271133
8                           Thoughts       940751  1.256536
9                            Keep On       486718  1.246562
10                         Battlecry       106559  1.229057
11                          Industry       449064  1.216999
12                         Self Help       776401  1.215383
13                        04 Faixa 4         9667  1.201816
14  Battle Scars (Feat. Willy Mason)       106489  1.201596
15                    Getting Closer       346041  1.192697
16                         Mea Culpa       573708  1.188018
17                     Carte Blanche       165439  1.186776
18                           Mandala       564293  1.183447
19                          Survival       857905  1.178118
20                        Moon Dance       595448  1.175492
21                               Yma      1048163  1.173739
22                        All Things        63158  1.170866
23                      Lost & Found       543847  1.167352
24                Insomniac Olympics       451776  1.166639
25                         Esperanza       287662  1.162308
26                  I Want Your Love       425250  1.155973
27                            Sprung       832338  1.153703
28                          Nautilus       619845  1.149580
29                    Moving Forward       601338  1.148917
30                        The Crisis       890851  1.147870
31                             Drift       260463  1.141866
32                     Spotless Mind       831758  1.138036
33                               Pop       701696  1.136440
34                                 1        14431  1.135465
35                   Bohemian Sunset       134197  1.135070
36                    Distant Lights       242714  1.133320
37                        Electronic       276912  1.132609
38                        Ionosphere       457194  1.131728
39                       Planetarium       695261  1.127627
40                           Rumours       755346  1.117233
41                      The Last One       905811  1.115356
42                      All The Love        62758  1.113205
43                     Walk The Line      1001152  1.112719
44                     Price You Pay       708742  1.111873
45                  Waking Nightmare      1000495  1.111024
46                          Poseidon       703419  1.110602
47                   Rings Of Saturn       744312  1.110374
48              Strawberry Letter 23       845022  1.109324
49                           Halcyon       371522  1.105179

In [310]:
altered_songid_new_list[0]

708

In [311]:
# cnt_total = []
# for id in altered_user_id_list:
#     #print(pd.Series(recommendation_ans['Song'].isin(user_song_df_count [ user_song_df_count['user_id']== id ] ['song']).values.astype(int), recommendation_ans['Song'].values)==1)
#     ans = pd.Series(recommendation_ans['Song'].isin(user_song_df_count [ user_song_df_count['user_id']== id ] ['song']).values.astype(int), recommendation_ans['Song'].values)==1
#     cnt = 0
#     for i in ans:
#         if i == True:
#             cnt += 1 #increment if found true
#     cnt_total.append ( cnt ) #append to total found

In [312]:
type(altered_songid_new_list[0])

numpy.int32

In [313]:
altered_songid_new_list[0]

708

In [314]:
[item_lookup[ item_lookup['song_id_new'] == str(altered_songid_new_list[0])]['song']]

[0    '84 Pontiac Dream
 Name: song, dtype: object]

In [315]:
# %%time
# cnt_total = []
# index = 0
# for id in altered_user_id_list:
#     ans = pd.Series(recommendation_ans['Song'].isin([item_lookup[ item_lookup['song_id_new'] == str(altered_songid_new_list[0])]['song']]).values.astype(int), recommendation_ans['Song'].values)==1
#     cnt = 0
#     for i in ans:
#         if i == True:
#             cnt += 1 #increment if found true
#     cnt_total.append ( cnt ) #append to total found
#     index += 1

In [316]:
altered_songid_new_list[0]

708

In [317]:
%%time
cnt_total = []
index1 = 0
for id in altered_user_id_list:
    ans = pd.Series(recommendation_ans['song_id_new'].isin( [ altered_songid_new_list[index1] ] ), recommendation_ans['song_id_new'].values)==1
    cnt = 0
    for i in ans:
        if i == True:
            cnt += 1 #increment if found true
    cnt_total.append ( cnt ) #append to total found
    index += 1

Wall time: 34.9 ms

In [318]:
ans

457060     False
296634     False
960093     False
468780     False
278893     False
412538     False
17527      False
693713     False
940751     False
486718     False
106559     False
449064     False
776401     False
9667       False
106489     False
346041     False
573708     False
165439     False
564293     False
857905     False
595448     False
1048163    False
63158      False
543847     False
451776     False
287662     False
425250     False
832338     False
619845     False
601338     False
890851     False
260463     False
831758     False
701696     False
14431      False
134197     False
242714     False
276912     False
457194     False
695261     False
755346     False
905811     False
62758      False
1001152    False
708742     False
1000495    False
703419     False
744312     False
845022     False
371522     False
Name: song_id_new, dtype: bool

In [319]:
#cnt_total

recommender system precision, P = [# of our recommendations that are relevant] / [# of items we recommended]

P = relevant / N

In [320]:
N = len(recommendation_ans) #what N was set as, no. of items we recommended
precision = []

for i in range(len(cnt_total)): #loop 0 to N-1
    precision.append( cnt_total[i] / N )

In [321]:
cnt_total[5]

0

In [322]:
precision

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

### Generating training and testing data

In [58]:
#Group by users and get the size of each group
user_record_counts = df_songs_heard_100_users.groupby("userid").apply(lambda x: x.shape[0])

In [59]:
# for key, value in user_record_counts.items():
#     print (key)

In [60]:
%%time
#Divide dataset into train and test based on users and the number of the songs listened
train_set_keys = []
test_set_keys = []
sum_val = 0
total = df_songs_heard_100_users.shape[0]
for key, value in user_record_counts.items():
    sum_val += value
    fraction = sum_val/total
    if fraction <= 0.8:
        train_set_keys.append(key)        
    else:
        test_set_keys.append(key)

Wall time: 997 µs

In [61]:
print("Number of users in train set : "+str(len(train_set_keys)))
print("Number of users in test set : "+str(len(test_set_keys)))

Number of users in train set : 792
Number of users in test set : 198

In [62]:
df_songs_heard_100_users['userid'].iloc[81181]

'user_000018'

In [63]:
train_set = df_songs_heard_100_users.groupby("userid").filter(lambda x: x['userid'].iloc[0] in train_set_keys)
test_set = df_songs_heard_100_users.groupby("userid").filter(lambda x: x['userid'].iloc[0] in test_set_keys)

In [64]:
len(train_set)

3131754

In [65]:
len(test_set)

790347

In [66]:
print("Number of users in train set : "+str(train_set['userid'].nunique()))
print("Number of users in test set : "+str(test_set['userid'].nunique()))

Number of users in train set : 792
Number of users in test set : 198

In [67]:
print('Fraction of train set : ' + str(train_set.shape[0]/total))

Fraction of train set : 0.7984888711432979

In [68]:
train_set.head()

,userid,artistid,song,time,gender,age,country,hour,slot
22,user_000001,45bdb5be-ec03-484f-b58d-d22afc944b24,Clouds,2009-05-03 14:39:20,f,22.0,Germany,14,3
26,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Seven,2009-05-03 14:07:40,f,22.0,Germany,14,3
28,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Five,2009-05-03 13:56:25,f,22.0,Germany,13,3
30,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Three,2009-05-03 13:40:46,f,22.0,Germany,13,3
39,user_000001,3d05eb8b-1644-4143-9a61-b28e33c4d85f,Something In The Way,2009-05-02 15:19:46,f,22.0,Germany,15,3

### Removing artistid, time and hour columns

In [69]:
train_set_df = train_set.drop(['artistid','time','hour'], axis=1, inplace=False)
test_set_df = test_set.drop(['artistid','time','hour'], axis=1, inplace=False)

In [70]:
train_set_df.head()

         userid                  song gender   age  country  slot
22  user_000001                Clouds      f  22.0  Germany     3
26  user_000001                 Seven      f  22.0  Germany     3
28  user_000001                  Five      f  22.0  Germany     3
30  user_000001                 Three      f  22.0  Germany     3
39  user_000001  Something In The Way      f  22.0  Germany     3

### Creating train dataframes based on slots

In [71]:
grouped_train_set = train_set_df.groupby('slot')
grouped_test_set = test_set_df.groupby('slot')

In [72]:
train_first_slot_df = grouped_train_set.get_group(1)
train_second_slot_df = grouped_train_set.get_group(2)
train_third_slot_df = grouped_train_set.get_group(3)
train_fourth_slot_df = grouped_train_set.get_group(4)

test_first_slot_df = grouped_test_set.get_group(1)
test_second_slot_df = grouped_test_set.get_group(2)
test_third_slot_df = grouped_test_set.get_group(3)
test_fourth_slot_df = grouped_test_set.get_group(4)

In [73]:
train_first_slot_df.head()

          userid      song gender   age  country  slot
124  user_000001  Carry On      f  22.0  Germany     1
138  user_000001  Carry On      f  22.0  Germany     1
361  user_000001     Intro      f  22.0  Germany     1
419  user_000001     Intro      f  22.0  Germany     1
971  user_000001     Sugar      f  22.0  Germany     1

In [74]:
print('First train slot shape : ' + str(train_first_slot_df.shape))
print('Second train slot shape : ' + str(train_second_slot_df.shape))
print('Third train slot shape : ' + str(train_third_slot_df.shape))
print('Fourth train slot shape : ' + str(train_fourth_slot_df.shape))
print('')
print("Number of users in train_first_slot_df : " + str(train_first_slot_df['userid'].nunique()))
print("Number of users in train_second_slot_df : " + str(train_second_slot_df['userid'].nunique()))
print("Number of users in train_third_slot_df : " + str(train_third_slot_df['userid'].nunique()))
print("Number of users in train_fourth_slot_df : " + str(train_fourth_slot_df['userid'].nunique()))
print('')
print("Number of songs in train_first_slot_df : " + str(train_first_slot_df['song'].nunique()))
print("Number of songs in train_second_slot_df : " + str(train_second_slot_df['song'].nunique()))
print("Number of songs in train_third_slot_df : " + str(train_third_slot_df['song'].nunique()))
print("Number of songs in train_fourth_slot_df : " + str(train_fourth_slot_df['song'].nunique()))
print('')
print('First test slot shape : ' + str(test_first_slot_df.shape))
print('Second test slot shape : ' + str(test_second_slot_df.shape))
print('Third test slot shape : ' + str(test_third_slot_df.shape))
print('Fourth test slot shape : ' + str(test_fourth_slot_df.shape))
print('')
print("Number of users in test_first_slot_df : " + str(test_first_slot_df['userid'].nunique()))
print("Number of users in test_second_slot_df : " + str(test_second_slot_df['userid'].nunique()))
print("Number of users in test_third_slot_df : " + str(test_third_slot_df['userid'].nunique()))
print("Number of users in test_fourth_slot_df : " + str(test_fourth_slot_df['userid'].nunique()))
print('')
print("Number of songs in test_first_slot_df : " + str(test_first_slot_df['song'].nunique()))
print("Number of songs in test_second_slot_df : " + str(test_second_slot_df['song'].nunique()))
print("Number of songs in test_third_slot_df : " + str(test_third_slot_df['song'].nunique()))
print("Number of songs in test_fourth_slot_df : " + str(test_fourth_slot_df['song'].nunique()))

First train slot shape : (596866, 6)
Second train slot shape : (544262, 6)
Third train slot shape : (943222, 6)
Fourth train slot shape : (1047404, 6)

Number of users in train_first_slot_df : 737
Number of users in train_second_slot_df : 762
Number of users in train_third_slot_df : 784
Number of users in train_fourth_slot_df : 780

Number of songs in train_first_slot_df : 4034
Number of songs in train_second_slot_df : 4034
Number of songs in train_third_slot_df : 4034
Number of songs in train_fourth_slot_df : 4034

First test slot shape : (173856, 6)
Second test slot shape : (146390, 6)
Third test slot shape : (221677, 6)
Fourth test slot shape : (248424, 6)

Number of users in test_first_slot_df : 185
Number of users in test_second_slot_df : 188
Number of users in test_third_slot_df : 191
Number of users in test_fourth_slot_df : 193

Number of songs in test_first_slot_df : 4034
Number of songs in test_second_slot_df : 4034
Number of songs in test_third_slot_df : 4034
Number of songs in test_fourth_slot_df : 4034

#### need to get count for each userid-song pair along with rest of the columns

In [138]:
# # Get user-song-count dataframe for each slot

# #train_user_song_count_df_first = train_first_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# #train1 = train_first_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# # test1 = 

# # df['Count'] = df.groupby(['Name'])['ID'].transform('count')
# # df.drop_duplicates()

# # train1 = train_first_slot_df.copy()
# # train1['count'] = train_first_slot_df.groupby(['userid','song'])['song'].transform('count')
# # train1 = train1.drop_duplicates()

# train_user_song_count_df_first = train_first_slot_df.copy()
# # train_user_song_count_df_first['Count'] = train_first_slot_df.groupby(['userid','song'])['song'].transform('count')
# train_user_song_count_df_first['count'] = train_first_slot_df.groupby(['userid','song'])['song'].transform('count')
# train_user_song_count_df_first = train_user_song_count_df_first.drop_duplicates()
# #train_user_song_count_df_first['count']= train_user_song_count_df_first['count'].astype(int)

# train_user_song_count_df_second = train_second_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# train_user_song_count_df_third = train_third_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# train_user_song_count_df_fourth = train_fourth_slot_df.groupby(["userid","song"]).size().reset_index(name="count")

# test_user_song_count_df_first = test_first_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# test_user_song_count_df_second = test_second_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# test_user_song_count_df_third = test_third_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# test_user_song_count_df_fourth = test_fourth_slot_df.groupby(["userid","song"]).size().reset_index(name="count")

In [144]:
# Get user-song-count dataframe for each slot

train_user_song_count_df_first = train_first_slot_df.copy()
train_user_song_count_df_first['count'] = train_first_slot_df.groupby(['userid','song'])['song'].transform('count')
train_user_song_count_df_first = train_user_song_count_df_first.drop_duplicates()

train_user_song_count_df_second = train_second_slot_df.copy()
train_user_song_count_df_second['count'] = train_second_slot_df.groupby(['userid','song'])['song'].transform('count')
train_user_song_count_df_second = train_user_song_count_df_second.drop_duplicates()


train_user_song_count_df_third = train_third_slot_df.copy()
train_user_song_count_df_third['count'] = train_third_slot_df.groupby(['userid','song'])['song'].transform('count')
train_user_song_count_df_third = train_user_song_count_df_third.drop_duplicates()

train_user_song_count_df_fourth = train_fourth_slot_df.copy()
train_user_song_count_df_fourth['count'] = train_fourth_slot_df.groupby(['userid','song'])['song'].transform('count')
train_user_song_count_df_fourth = train_user_song_count_df_fourth.drop_duplicates()


test_user_song_count_df_first = test_first_slot_df.copy()
test_user_song_count_df_first['count'] = test_first_slot_df.groupby(['userid','song'])['song'].transform('count')
test_user_song_count_df_first = test_user_song_count_df_first.drop_duplicates()

test_user_song_count_df_second = test_second_slot_df.copy()
test_user_song_count_df_second['count'] = test_second_slot_df.groupby(['userid','song'])['song'].transform('count')
test_user_song_count_df_second = test_user_song_count_df_second.drop_duplicates()

test_user_song_count_df_third = test_third_slot_df.copy()
test_user_song_count_df_third['count'] = test_third_slot_df.groupby(['userid','song'])['song'].transform('count')
test_user_song_count_df_third = test_user_song_count_df_third.drop_duplicates()

test_user_song_count_df_fourth = test_fourth_slot_df.copy()
test_user_song_count_df_fourth['count'] = test_fourth_slot_df.groupby(['userid','song'])['song'].transform('count')
test_user_song_count_df_fourth = test_user_song_count_df_fourth.drop_duplicates()

In [145]:
# del train1

In [146]:
#del train_user_song_count_df_first
len(train_user_song_count_df_first)

196612

In [147]:
train_user_song_count_df_first.head(10)
# len(train_user_song_count_df_first) : 196612

           userid                  song gender   age  country  slot  count
124   user_000001              Carry On      f  22.0  Germany     1      2
361   user_000001                 Intro      f  22.0  Germany     1      2
971   user_000001                 Sugar      f  22.0  Germany     1      3
975   user_000001            Summertime      f  22.0  Germany     1      3
1157  user_000001          Instrumental      f  22.0  Germany     1      1
1159  user_000001               Go Away      f  22.0  Germany     1      1
1163  user_000001       Earth Intruders      f  22.0  Germany     1      1
1164  user_000001             Porcelain      f  22.0  Germany     1      3
1220  user_000001   He Doesn'T Know Why      f  22.0  Germany     1      1
1224  user_000001  Blue Ridge Mountains      f  22.0  Germany     1      1

In [150]:
#train_user_song_count_df_first

In [151]:
test_user_song_count_df_first.head()

               userid        song gender   age        country  slot  count
15511133  user_000802    Tomorrow      f  18.0  United States     1      2
15511365  user_000802     Tonight      f  18.0  United States     1      4
15511840  user_000802  Speechless      f  18.0  United States     1     11
15511850  user_000802   This Love      f  18.0  United States     1     10
15511852  user_000802      Secret      f  18.0  United States     1     11

In [152]:
# Get the max count for train and test set
train_max_count = test_user_song_count_df_first['count'].max()
test_max_count = test_user_song_count_df_first['count'].max()

## Surprise IGNORE TH

In [49]:
# Use the famous SVD algorithm.
algo = SVD(n_factors=250, n_epochs=250)
reader = surprise.reader.Reader(sep=',',rating_scale=(1, train_max_count))

In [50]:
train_data = surprise.Dataset.load_from_df(test_user_song_count_df_first[['userid', 'song', 'count']], reader)

In [51]:
#Use entire dataset as training data
trainset = train_data.build_full_trainset()

In [52]:
# Training
algo.fit(trainset)

In [57]:
test_data = test_user_song_count_df_first

In [59]:
# predict using test data
results = []
output = pd.DataFrame(columns = ['userid', 'song','score'])
for index, row in test_data.iterrows():
    prediction = algo.predict(row['userid'], row['song'], verbose=False)
#     key = str(str(row['userid']) + '-' + str(row['song']))
    predicted_rating = prediction.est
    output = output.append(pd.Series([str(row['userid']), str(row['song']), predicted_rating], index=output.columns), ignore_index=True)

KeyboardInterrupt:

In [64]:
output[:1000]

          userid                     song score
0    user_000802  (Don'T Fear) The Reaper   431
1    user_000802                     100%   431
2    user_000802                     1979   431
3    user_000802             A Warm Place   431
4    user_000802                Addiction   431
..           ...                      ...   ...
995  user_000807                  Decades   431
996  user_000807                Desperado   431
997  user_000807                  Destiny   431
998  user_000807            Doctor Robert   431
999  user_000807          Don'T Look Back   431

[1000 rows x 3 columns]

In [63]:
test_data.shape

(51240, 3)