In [1]:
# import the usual
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import hashlib 
import datetime
#import surprise
#from surprise import SVD
%matplotlib inline
pd.set_option('display.max_columns', 500)

In [56]:
data_profile = pd.read_csv(r"F:\Data_Repository\lastfm\usersha1-profile.tsv", sep="\t", error_bad_lines=False, header = None, names = ['userhashid','gender','age','country','signup_date'])

In [58]:
data_profile

,userid,gender,age,country,signup_date
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007"
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"
5,0000c176103e538d5c9828e695fed4f7ae42dd01,m,20.0,United Kingdom,"Jan 14, 2006"
6,0000ee7dd906373efa37f4e1185bfe1e3f8695ae,m,17.0,Finland,"Nov 17, 2007"
7,0000ef373bbd0d89ce796abae961f2705e8c1faf,f,22.0,Poland,"May 23, 2007"
8,0000f687d4fe9c1ed49620fbc5ed5b0d7798ea20,f,24.0,Spain,"Nov 4, 2008"
9,0001399387da41d557219578fb08b12afa25ab67,m,NaN,Ukraine,"Aug 17, 2008"
10,000163263d2a41a3966a3746855b8b75b7d7aa83,m,27.0,Sweden,"Jan 5, 2007"
11,0001a57568309b287363e72dc682e9a170ba6dc2,NaN,23.0,United States,"May 12, 2007"
12,0001a88a7092846abb1b70dbcced05f914976371,NaN,NaN,Japan,"Oct 13, 2008"
13,0001bd96207f323b53652bf400702719ad456d3c,f,18.0,Finland,"Mar 10, 2008"
14,000215d3060a5b0ab7b3c415d49ec579100d4c87,f,NaN,Australia,"Jul 26, 2008"
15,00024b5b85c40f990c28644d53257819980bf6bb,m,23.0,United States,"Aug 19, 2005"
16,00026e8fc41980c9605eac741cd97b8216d2dbbd,m,30.0,Portugal,"Apr 22, 2007"
17,000294c1f0d9b40067487457ca31f0caab81d44a,m,17.0,Finland,"Aug 25, 2008"
18,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,NaN,27.0,Australia,"Mar 27, 2005"
19,0002dd2154072434d26e5409faa591bfb260a01e,m,30.0,United States,"Aug 23, 2006"
20,0002fa6e25794597126fa44529105cedb31a75aa,m,NaN,Germany,"Jan 2, 2009"
21,00032c7933e0eb05f2258f1147ef81a90f2d4d6c,f,26.0,United States,"Dec 5, 2008"
22,00033e1695a2eb4e5fe2322260cf9f112072342f,m,NaN,Russian Federation,"Feb 1, 2007"
23,00035a0368fd249d286f683e816fbdc97cbfa7d9,m,22.0,United Kingdom,"Mar 27, 2007"
24,0003848c96fb95f8d349c00de9f1760fe2777946,m,14.0,Finland,"Jan 15, 2008"
25,0003906ab668111f2cd332962cb09f8e3b795c6c,m,34.0,Belgium,"Nov 6, 2006"
26,000392e00cf41fbf48865109b72a92b3b72c2fed,NaN,NaN,United Kingdom,"Apr 4, 2008"
27,00040770932c5fce71bfaff2355228a1aac08dd5,m,19.0,Guatemala,"Oct 1, 2008"
28,00041cbfdd019b5431f926133266cc4ba38219bb,m,NaN,United States,"Jun 22, 2008"
29,000429493d9716b66b02180d208d09b5b89fbe64,m,23.0,United States,"Sep 26, 2005"
...,...,...,...,...,...
359317,fffafd71aa24298dbd5a1be22f6be1512a7d7fab,m,20.0,Sweden,"Dec 15, 2008"
359318,fffb07ebacf06714afb8e4592392a3355b65a4d7,f,33.0,Israel,"Jun 3, 2007"
359319,fffb2efe0cf3d512dacab701c6aca64b45c6cf45,m,26.0,France,"Sep 21, 2008"
359320,fffb5a374cd1af347e93af216185e674d491506c,f,33.0,Poland,"Apr 6, 2007"
359321,fffb63874b7ca9ae472fe2e1eaa28fa32f2dc35d,f,NaN,China,"Sep 5, 2007"
359322,fffb76d52b96540811de0fc642f3b903c2a5f747,m,38.0,Spain,"Aug 10, 2009"
359323,fffb96458b1b571b0fb95d94047e520e8c4e658d,f,17.0,Czech Republic,"Aug 20, 2008"
359324,fffbabbcb3576f1ef8233e8431e7d290f424b202,m,47.0,Netherlands,"Oct 29, 2006"
359325,fffbd4c4b5e8c874299529861e1354642dbb4831,m,24.0,Australia,"Feb 9, 2005"
359326,fffc1123a782c76c160f1cd92dbe2edfd537eccf,m,20.0,Germany,"Oct 29, 2007"
359327,fffc29da72a63715b8508979252761f53003d8f7,m,26.0,Norway,"Jun 7, 2005"
359328,fffc737cbdd447fd59092fc5d0d67b1f7cd2e902,m,22.0,Norway,"Feb 10, 2007"
359329,fffc7a7acb9c170521e31364b395a45eda02240c,f,31.0,Sweden,"Dec 17, 2004"
359330,fffc82cd4b93c2312a4f3a1a4631d153e3d5279e,m,19.0,Finland,"Dec 17, 2007"
359331,fffc9978a88e9c838fab57eac284cc06a14dea7b,m,21.0,Norway,"Jan 22, 2006"
359332,fffcd17f6058a3fa0fe83b09d8a2817b8aa05f6f,m,19.0,Finland,"Oct 18, 2006"
359333,fffcdb342de39c80ca248877a3cd6ddccb2a1379,m,33.0,Poland,"Jul 10, 2008"
359334,fffcead773761df0b609d6618153048394ed0fa0,m,20.0,Brazil,"Oct 22, 2008"
359335,fffcf52d27aa7ea75f99d4bff654fa08fcedc4b6,f,25.0,Turkey,"Aug 10, 2007"
359336,fffd372d71d9ef015cc6f1dbf7a3e6f10e512910,f,20.0,France,"Aug 26, 2007"
359337,fffd3df081c03829a9ea4699e2d85e868d7a791b,f,17.0,New Zealand,"Sep 5, 2008"
359338,fffe1f0fc9eb1432b98eb25b2c950850796a4a8b,m,26.0,China,"Apr 30, 2007"
359339,fffe356b9dab2fae1f887fabb1f08ab4976c91bb,f,23.0,Germany,"Jul 24, 2006"
359340,fffe3e8eb1b2db8dcb3f3fe753552d5803d085f1,f,19.0,United Kingdom,"Jun 4, 2007"
359341,fffe454af08a58c7bafe77491b586711f6b5e6f1,m,28.0,Austria,"Nov 7, 2008"
359342,fffe7823f67b433b45f22056467db921c1d3d7d0,m,25.0,Germany,"Jun 24, 2006"
359343,fffe8637bd8234309e871409c7ebef99a720afc1,m,25.0,Brazil,"Sep 9, 2007"
359344,fffe8c7f952d9b960a56ed4dcb40a415d924b224,m,20.0,United States,"Aug 8, 2007"
359345,ffff9af9ae04d263dae91cb838b1f3a6725f5ffb,m,20.0,Russian Federation,"Dec 3, 2005"
359346,ffff9ef87a7d9494ada2f9ade4b9ff637c0759ac,m,21.0,Belgium,"Nov 25, 2008"

In [61]:
data_artist = pd.read_csv(r"F:\Data_Repository\lastfm\usersha1-artmbid-artname-plays.tsv", sep="\t", error_bad_lines=False, header = None,
                          names = ['userhashid','artistid','artistName','plays'])

In [63]:
data_artist

,userhashid,artistid,artistName,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403
10,00000c289a1829a808ac09c00daf10bc3c4e223b,a342964d-ca53-4e54-96dc-e8501851e77f,walls of jericho,393
11,00000c289a1829a808ac09c00daf10bc3c4e223b,f779ed95-66c8-4493-9f46-3967eba785a8,letzte instanz,387
12,00000c289a1829a808ac09c00daf10bc3c4e223b,7b885d42-3c41-4f43-9944-a5855ec5155e,goldfrapp,361
13,00000c289a1829a808ac09c00daf10bc3c4e223b,e000d76b-afff-4286-a5fd-7ea6405cb80f,horrorpops,358
14,00000c289a1829a808ac09c00daf10bc3c4e223b,adf334c2-9186-48cd-afcc-c748dd47e9b4,the butchies,329
15,00000c289a1829a808ac09c00daf10bc3c4e223b,7e870dd5-2667-454b-9fcf-a132dd8071f1,jack off jill,316
16,00000c289a1829a808ac09c00daf10bc3c4e223b,41593aa1-dda6-4a5a-af87-0eebf93e3775,babes in toyland,310
17,00000c289a1829a808ac09c00daf10bc3c4e223b,e8374874-4178-4869-b92e-fef6bf30dc04,dropkick murphys,302
18,00000c289a1829a808ac09c00daf10bc3c4e223b,295a3ae3-9e81-4cff-a36f-8d48b8fb4dcf,all:my:faults,288
19,00000c289a1829a808ac09c00daf10bc3c4e223b,2d67239c-aa40-4ad5-a807-9052b66857a6,le tigre,281
20,00000c289a1829a808ac09c00daf10bc3c4e223b,ff7f80cd-05c2-4068-a00e-fbfbd453d049,schandmaul,244
21,00000c289a1829a808ac09c00daf10bc3c4e223b,83998f9c-846b-4294-aede-d7735531c901,edguy,232
22,00000c289a1829a808ac09c00daf10bc3c4e223b,fb01635c-51fc-4cad-b71f-62e18bb3433b,maximum the hormone,231
23,00000c289a1829a808ac09c00daf10bc3c4e223b,3f20aae7-694e-4a37-9b82-02029cf8cd4c,all ends,229
24,00000c289a1829a808ac09c00daf10bc3c4e223b,ff6e677f-91dd-4986-a174-8db0474b1799,jack johnson,227
25,00000c289a1829a808ac09c00daf10bc3c4e223b,8000598a-5edb-401c-8e6d-36b167feaf38,eluveitie,222
26,00000c289a1829a808ac09c00daf10bc3c4e223b,2ee6f445-005e-40dd-8bb8-474849216a38,rasputina,220
27,00000c289a1829a808ac09c00daf10bc3c4e223b,8688124b-dcff-4a39-9f30-4825d445014f,london after midnight,210
28,00000c289a1829a808ac09c00daf10bc3c4e223b,95e1ead9-4d31-4808-a7ac-32c3614c116b,the killers,208
29,00000c289a1829a808ac09c00daf10bc3c4e223b,6c99c2c9-6d19-4d61-8c22-e583b911f0a3,mutyumu,205
...,...,...,...,...
17535625,"sep 20, 2008",f181961b-20f7-459e-89de-920ef03c7ed0,the strokes,30
17535626,"sep 20, 2008",6ffb8ea9-2370-44d8-b678-e9237bbd347b,kings of leon,27
17535627,"sep 20, 2008",52074ba6-e495-4ef3-9bb4-0703888a9f68,arcade fire,26
17535628,"sep 20, 2008",35a6a353-b186-4c13-a264-d18d5e2ce853,tokyo police club,25
17535629,"sep 20, 2008",e618770f-e994-41c3-856f-1eedf56b6d74,the ting tings,24
17535630,"sep 20, 2008",de11b037-d880-40e0-8901-0397c768c457,eagles of death metal,23
17535631,"sep 20, 2008",3798b104-01cb-484c-a3b0-56adc6399b80,rage against the machine,23
17535632,"sep 20, 2008",680ba421-a0ec-4e68-96c2-5f092a11fe5b,johnossi,21
17535633,"sep 20, 2008",aa7a2827-f74b-473c-bd79-03d065835cf7,franz ferdinand,20
17535634,"sep 20, 2008",0741b30d-e15b-4a8c-b2e5-8834a03d6116,cold war kids,19
17535635,"sep 20, 2008",c485632c-b784-4ee9-8ea1-c5fb365681fc,mgmt,18
17535636,"sep 20, 2008",f1ce0a98-fed9-4337-b817-398720ff6bd8,test icicles,16
17535637,"sep 20, 2008",NaN,beachy head,15
17535638,"sep 20, 2008",59330405-08d2-477d-b5ab-21a1cc396701,chikinki,14
17535639,"sep 20, 2008",d0ef2617-88ed-4d2d-8e72-7e45c083c78e,kilians,14
17535640,"sep 20, 2008",50a1363f-f1e9-49d5-a044-e9626060288e,kiss kiss kill,14
17535641,"sep 20, 2008",f82f3a3e-29c2-42ca-b589-bc5dc210fa9e,the kooks,14
17535642,"sep 20, 2008",b3b5ceef-0d3e-4191-a621-5e97d6ed3d97,the teenagers,14
17535643,"sep 20, 2008",5c2717ab-3b1e-4043-8874-e88ecf391cc9,clueso,12
17535644,"sep 20, 2008",83e3212a-50e2-4abb-a6d9-7adeaeed0097,downstairs,12
17535645,"sep 20, 2008",9af2e75f-5eed-4008-88dc-d9491625434f,malajube,12
17535646,"sep 20, 2008",a74b1b7f-71a5-4011-9441-d0b5e4122711,radiohead,12
17535647,"sep 20, 2008",69ee3720-a7cb-4402-b48d-a02c366f2bcf,the cure,12
17535648,"sep 20, 2008",95bab79d-e5e8-4d7a-9368-d51430763c69,these new puritans,12
17535649,"sep 20, 2008",e8eed2c6-269a-47c0-aed9-8517a304b02c,the stills,12
17535650,"sep 20, 2008",7ffd711a-b34d-4739-8aab-25e045c246da,turbostaat,12
17535651,"sep 20, 2008",9201190d-409f-426b-9339-9bd7492443e2,cuba missouri,11
17535652,"sep 20, 2008",e7cf7ff9-ed2f-4315-aca8-bcbd3b2bfa71,little man tate,11
17535653,"sep 20, 2008",f6f2326f-6b25-4170-b89d-e235b25508e8,sigur rós,10
17535654,"sep 20, 2008",40f5d9e4-2de7-4f2d-ad41-e31a9a9fea27,the smiths,10

In [65]:
data_artist['userhashid'].nunique()

358868

In [ ]:
#Music Data Loading
df = pd.read_csv(r"F:\Data_Repository\lastfm\userid-timestamp-artid-artname-traid-traname.tsv", sep="\t", error_bad_lines=False, header = None)

In [3]:
df.columns = ['userid', 'timestamp', 'artistid', 'artist', '1', 'song']

In [4]:
df.head()

,userid,timestamp,artistid,artist,1,song
0,user_000001,2009-05-04T23:08:57Z,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,user_000001,2009-05-04T13:54:10Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15)
2,user_000001,2009-05-04T13:52:04Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15)
3,user_000001,2009-05-04T13:42:52Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15)
4,user_000001,2009-05-04T13:42:11Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15)

In [5]:
df['time'] = pd.to_datetime(df['timestamp'])
df.drop(['timestamp'], axis=1, inplace=True)

In [6]:
df.head()

,userid,artistid,artist,1,song,time
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15),2009-05-04 13:52:04
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15),2009-05-04 13:42:52
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15),2009-05-04 13:42:11

### Removing artist name and song id (possibly) from the user_songs_df dataframe

In [136]:
user_songs_df = df.drop(['artist'], axis=1, inplace=False)
user_songs_df.columns = ['userid', 'artistid', 'songid', 'song', 'time']
user_songs_df = user_songs_df.drop(['songid'], axis=1, inplace=False)

In [137]:
user_songs_df.head()

,userid,artistid,song,time
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc2 (Live_2009_4_15),2009-05-04 13:52:04
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Hibari (Live_2009_4_15),2009-05-04 13:42:52
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc1 (Live_2009_4_15),2009-05-04 13:42:11

In [138]:
print('Number of songs : ' + str(user_songs_df['song'].nunique()))

Number of songs : 1083471

In [139]:
user_unique = user_songs_df['userid'].drop_duplicates()

In [122]:
type(user_unique)

pandas.core.series.Series

In [123]:
#user_unique = map(lambda s: s.strip(), user_unique)

In [124]:
user_unique = user_unique.reset_index()
user_unique = user_unique.drop('index', axis = 1)

In [125]:
user_unique

          userid
0    user_000001
1    user_000002
2    user_000003
3    user_000004
4    user_000005
5    user_000006
6    user_000007
7    user_000008
8    user_000009
9    user_000010
10   user_000011
11   user_000012
12   user_000013
13   user_000014
14   user_000015
15   user_000016
16   user_000017
17   user_000018
18   user_000019
19   user_000020
20   user_000021
21   user_000022
22   user_000023
23   user_000024
24   user_000025
25   user_000026
26   user_000027
27   user_000028
28   user_000029
29   user_000030
..           ...
962  user_000970
963  user_000971
964  user_000972
965  user_000973
966  user_000974
967  user_000975
968  user_000976
969  user_000977
970  user_000978
971  user_000979
972  user_000980
973  user_000981
974  user_000982
975  user_000983
976  user_000984
977  user_000985
978  user_000986
979  user_000987
980  user_000989
981  user_000990
982  user_000991
983  user_000992
984  user_000993
985  user_000994
986  user_000995
987  user_000996
988  user_000997
989  user_000998
990  user_000999
991  user_001000

[992 rows x 1 columns]

In [101]:
# user_unique2 = user_songs_df.copy()

In [103]:
# user_unique2['username'] = user_songs_df['userid'].drop_duplicates()

In [104]:
# user_unique2.head()

,userid,artistid,song,time,username
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57,user_000001
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10,NaN
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc2 (Live_2009_4_15),2009-05-04 13:52:04,NaN
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Hibari (Live_2009_4_15),2009-05-04 13:42:52,NaN
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc1 (Live_2009_4_15),2009-05-04 13:42:11,NaN

In [126]:
data_profile['username'] = user_unique

In [131]:
data_profile[:992]

,userid,gender,age,country,signup_date,username
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007",user_000001
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007",user_000002
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006",user_000003
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008",user_000004
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006",user_000005
5,0000c176103e538d5c9828e695fed4f7ae42dd01,m,20.0,United Kingdom,"Jan 14, 2006",user_000006
6,0000ee7dd906373efa37f4e1185bfe1e3f8695ae,m,17.0,Finland,"Nov 17, 2007",user_000007
7,0000ef373bbd0d89ce796abae961f2705e8c1faf,f,22.0,Poland,"May 23, 2007",user_000008
8,0000f687d4fe9c1ed49620fbc5ed5b0d7798ea20,f,24.0,Spain,"Nov 4, 2008",user_000009
9,0001399387da41d557219578fb08b12afa25ab67,m,NaN,Ukraine,"Aug 17, 2008",user_000010
10,000163263d2a41a3966a3746855b8b75b7d7aa83,m,27.0,Sweden,"Jan 5, 2007",user_000011
11,0001a57568309b287363e72dc682e9a170ba6dc2,NaN,23.0,United States,"May 12, 2007",user_000012
12,0001a88a7092846abb1b70dbcced05f914976371,NaN,NaN,Japan,"Oct 13, 2008",user_000013
13,0001bd96207f323b53652bf400702719ad456d3c,f,18.0,Finland,"Mar 10, 2008",user_000014
14,000215d3060a5b0ab7b3c415d49ec579100d4c87,f,NaN,Australia,"Jul 26, 2008",user_000015
15,00024b5b85c40f990c28644d53257819980bf6bb,m,23.0,United States,"Aug 19, 2005",user_000016
16,00026e8fc41980c9605eac741cd97b8216d2dbbd,m,30.0,Portugal,"Apr 22, 2007",user_000017
17,000294c1f0d9b40067487457ca31f0caab81d44a,m,17.0,Finland,"Aug 25, 2008",user_000018
18,00029d80b8af94f2d5e3349ceb28b7304f80c1c4,NaN,27.0,Australia,"Mar 27, 2005",user_000019
19,0002dd2154072434d26e5409faa591bfb260a01e,m,30.0,United States,"Aug 23, 2006",user_000020
20,0002fa6e25794597126fa44529105cedb31a75aa,m,NaN,Germany,"Jan 2, 2009",user_000021
21,00032c7933e0eb05f2258f1147ef81a90f2d4d6c,f,26.0,United States,"Dec 5, 2008",user_000022
22,00033e1695a2eb4e5fe2322260cf9f112072342f,m,NaN,Russian Federation,"Feb 1, 2007",user_000023
23,00035a0368fd249d286f683e816fbdc97cbfa7d9,m,22.0,United Kingdom,"Mar 27, 2007",user_000024
24,0003848c96fb95f8d349c00de9f1760fe2777946,m,14.0,Finland,"Jan 15, 2008",user_000025
25,0003906ab668111f2cd332962cb09f8e3b795c6c,m,34.0,Belgium,"Nov 6, 2006",user_000026
26,000392e00cf41fbf48865109b72a92b3b72c2fed,NaN,NaN,United Kingdom,"Apr 4, 2008",user_000027
27,00040770932c5fce71bfaff2355228a1aac08dd5,m,19.0,Guatemala,"Oct 1, 2008",user_000028
28,00041cbfdd019b5431f926133266cc4ba38219bb,m,NaN,United States,"Jun 22, 2008",user_000029
29,000429493d9716b66b02180d208d09b5b89fbe64,m,23.0,United States,"Sep 26, 2005",user_000030
...,...,...,...,...,...,...
962,00b104f739126c8dd22d3b14aeb6be3ac34ad148,m,NaN,China,"Nov 14, 2007",user_000970
963,00b1084c80a1b0c82eb1904af0ca97fb504de870,f,NaN,Canada,"Feb 6, 2008",user_000971
964,00b11f68e73c73351fe154d54b3f75b78b5cc8b2,m,17.0,Germany,"Aug 9, 2008",user_000972
965,00b16cc4a080c87964fd875415c1850aceec5a2d,NaN,23.0,United Kingdom,"Apr 10, 2008",user_000973
966,00b18113f5b06f36dfb587f86b8ef4141dff3118,m,19.0,United States,"Nov 25, 2008",user_000974
967,00b1955adf74806dcc7bd3f62f9b5ff6ed678f06,m,NaN,United States,"Sep 12, 2008",user_000975
968,00b1d3b7d745403039c3da39af5157d51f4a7286,m,26.0,United States,"Oct 13, 2006",user_000976
969,00b1f3510d6b19893fb4ac79d009cb69cc53eabf,NaN,28.0,Austria,"Oct 31, 2008",user_000977
970,00b1f805d8578c713b4891bd5510c7db1b3f5852,m,NaN,Germany,"Dec 7, 2008",user_000978
971,00b1f89f31573d3cc0234aa8256ccff9a58460ea,f,22.0,Germany,"Feb 24, 2007",user_000979
972,00b2881cf561aecb1a0717f2744fd7ba5b633788,NaN,NaN,Switzerland,"May 13, 2008",user_000980
973,00b295cdc63a658e76410eb9077f24cb17ab841e,NaN,NaN,United Kingdom,"Nov 4, 2007",user_000981
974,00b2edafa53703d0f1657433599e345b3643af95,m,19.0,Canada,"Jun 27, 2005",user_000982
975,00b2f3d7916543f2a02c10001c49a40e7ada584b,m,NaN,Japan,"Jul 26, 2006",user_000983
976,00b315a206e2317919684a892bfd34b6053c821c,m,23.0,United Kingdom,"Oct 8, 2006",user_000984
977,00b34ec7a274a554458d7cce49548af655c3da10,NaN,NaN,Russian Federation,"Dec 23, 2008",user_000985
978,00b37c1b35f57f3534daf5ebf6f103de4b9ac2d3,NaN,21.0,Ukraine,"Apr 18, 2006",user_000986
979,00b37db6bd988ff16ef5971ef352ef617e90b222,m,26.0,Argentina,"Aug 4, 2008",user_000987
980,00b38784b41369796616c952cc8105d1ea953b4f,m,NaN,Germany,"Jan 14, 2007",user_000989
981,00b399ef45838493e898124fb2c594ca3381151a,f,18.0,New Zealand,"Nov 16, 2006",user_000990
982,00b3bcd6da345eccf47c8ab94af29379135d8dbb,NaN,21.0,United States,"Jan 4, 2007",user_000991
983,00b3f3957fef227809e0016a8724c8254a352a31,m,22.0,Brazil,"Mar 17, 2007",user_000992
984,00b42ea9ee9bb3c01af7df59a3a45bf03816bdc2,NaN,NaN,Japan,"Aug 31, 2008",user_000993
985,00b447ab4016c6702dcf889534db363135c754d8,m,NaN,United States,"Mar 25, 2008",user_000994
986,00b4583fa06bff15364404065b2408ed0757ae2f,f,26.0,France,"Jun 24, 2006",user_000995
987,00b4a075c99ba33a196ddc941ee6f96b17e5c8e4,f,NaN,Croatia,"Mar 8, 2009",user_000996
988,00b4b2645f09bf071023d4f10135a91c6554ef99,m,NaN,Denmark,"Sep 30, 2007",user_000997
989,00b4ef2701cde996e2c4f2f2a840f335d9bc27bc,f,19.0,Russian Federation,"Jan 26, 2007",user_000998
990,00b500b8301cb32c91835e6f889cfb3f43fc2e80,m,33.0,Uganda,"Nov 30, 2005",user_000999
991,00b5066cacdebe242a200fb4df30203eaac57ce7,m,25.0,Colombia,"Dec 20, 2006",user_001000

In [132]:
data_profile['userid'].nunique()

359347

In [96]:
# create user profile data after merging
#user_songs_df[pd.Series( user_songs_df['userid'].unique() ) ]
#user_songs_df['userid'].value_counts().sort_index()
#user_songs_df [ pd.Series ( user_songs_df['userid'].unique().tolist() ) ]

In [133]:
user_songs_df.head()

,userid,artistid,song,time
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc2 (Live_2009_4_15),2009-05-04 13:52:04
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Hibari (Live_2009_4_15),2009-05-04 13:42:52
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc1 (Live_2009_4_15),2009-05-04 13:42:11

In [140]:
user_songs_df = user_songs_df.merge(data_profile[:992], left_on='userid', right_on='username', how = 'outer')

In [141]:
user_songs_df.head()

,userid_x,artistid,song,time,userid_y,gender,age,country,signup_date,username
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007",user_000001
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007",user_000001
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc2 (Live_2009_4_15),2009-05-04 13:52:04,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007",user_000001
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Hibari (Live_2009_4_15),2009-05-04 13:42:52,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007",user_000001
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc1 (Live_2009_4_15),2009-05-04 13:42:11,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007",user_000001

In [144]:
user_songs_df = user_songs_df.drop(['userid_y', 'signup_date', 'username'], axis = 1)

In [178]:
user_songs_df = user_songs_df.rename ( columns = {"userid_x" : "userid"} )

In [179]:
user_songs_df.head()

,userid,artistid,song,time,gender,age,country
0,user_000001,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007,2009-05-04 23:08:57,f,22.0,Germany
1,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Composition 0919 (Live_2009_4_15),2009-05-04 13:54:10,f,22.0,Germany
2,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc2 (Live_2009_4_15),2009-05-04 13:52:04,f,22.0,Germany
3,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Hibari (Live_2009_4_15),2009-05-04 13:42:52,f,22.0,Germany
4,user_000001,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,Mc1 (Live_2009_4_15),2009-05-04 13:42:11,f,22.0,Germany

In [180]:
def get_unique_count(column):
    return len(set(column))

In [181]:
len(user_songs_df)

19098853

In [182]:
# df_songs_heard_10_users = user_songs_df.groupby("song").filter(lambda x: get_unique_count( x['userid']) > 10)

In [183]:
# len(df_songs_heard_10_users)

In [184]:
# df_songs_heard_10_users.head()

In [185]:
# print('Number of songs heard by at least 10 users : ' + str(df_songs_heard_10_users['song'].nunique()))
# print('Number of users in this dataframe : ' + str(df_songs_heard_10_users['userid'].nunique()))

In [186]:
%%time
df_songs_heard_100_users = user_songs_df.groupby("song").filter(lambda x: get_unique_count(x['userid'])>100)

Wall time: 3min 6s

In [187]:
len(df_songs_heard_100_users)

3922101

In [188]:
df_songs_heard_100_users.head()

,userid,artistid,song,time,gender,age,country
22,user_000001,45bdb5be-ec03-484f-b58d-d22afc944b24,Clouds,2009-05-03 14:39:20,f,22.0,Germany
26,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Seven,2009-05-03 14:07:40,f,22.0,Germany
28,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Five,2009-05-03 13:56:25,f,22.0,Germany
30,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Three,2009-05-03 13:40:46,f,22.0,Germany
39,user_000001,3d05eb8b-1644-4143-9a61-b28e33c4d85f,Something In The Way,2009-05-02 15:19:46,f,22.0,Germany

In [189]:
print('Number of songs heard by at least 100 users : ' + str(df_songs_heard_100_users['song'].nunique()))
print('Number of users in this dataframe : ' + str(df_songs_heard_100_users['userid'].nunique()))

Number of songs heard by at least 100 users : 4034
Number of users in this dataframe : 990

### Creation of timeslots

In [190]:
df_songs_heard_100_users['hour'] = df_songs_heard_100_users['time'].dt.hour

C:\Users\heman_tmaeglj\Anaconda3\envs\model2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [191]:
df_songs_heard_100_users.head()

,userid,artistid,song,time,gender,age,country,hour
22,user_000001,45bdb5be-ec03-484f-b58d-d22afc944b24,Clouds,2009-05-03 14:39:20,f,22.0,Germany,14
26,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Seven,2009-05-03 14:07:40,f,22.0,Germany,14
28,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Five,2009-05-03 13:56:25,f,22.0,Germany,13
30,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Three,2009-05-03 13:40:46,f,22.0,Germany,13
39,user_000001,3d05eb8b-1644-4143-9a61-b28e33c4d85f,Something In The Way,2009-05-02 15:19:46,f,22.0,Germany,15

In [192]:
#function to return slot number
def slot(hour):
    if 0 <= hour and hour <= 5:
        return 1
    elif 6 <= hour and hour <= 11:
        return 2
    elif 12 <= hour and hour <= 17:
        return 3
    else:
        return 4

In [193]:
%%time
df_songs_heard_100_users['slot'] = df_songs_heard_100_users['hour'].apply( lambda x : slot(x) )

Wall time: 1.69 s

C:\Users\heman_tmaeglj\Anaconda3\envs\model2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [194]:
df_songs_heard_100_users.head()

,userid,artistid,song,time,gender,age,country,hour,slot
22,user_000001,45bdb5be-ec03-484f-b58d-d22afc944b24,Clouds,2009-05-03 14:39:20,f,22.0,Germany,14,3
26,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Seven,2009-05-03 14:07:40,f,22.0,Germany,14,3
28,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Five,2009-05-03 13:56:25,f,22.0,Germany,13,3
30,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Three,2009-05-03 13:40:46,f,22.0,Germany,13,3
39,user_000001,3d05eb8b-1644-4143-9a61-b28e33c4d85f,Something In The Way,2009-05-02 15:19:46,f,22.0,Germany,15,3

In [195]:
df_songs_heard_100_users.shape

(3922101, 9)

### Generating training and testing data

In [196]:
#Group by users and get the size of each group
user_record_counts = df_songs_heard_100_users.groupby("userid").apply(lambda x: x.shape[0])

In [197]:
# for key, value in user_record_counts.items():
#     print (key)

In [198]:
%%time
#Divide dataset into train and test based on users and the number of the songs listened
train_set_keys = []
test_set_keys = []
sum_val = 0
total = df_songs_heard_100_users.shape[0]
for key, value in user_record_counts.items():
    sum_val += value
    fraction = sum_val/total
    if fraction <= 0.8:
        train_set_keys.append(key)        
    else:
        test_set_keys.append(key)

Wall time: 0 ns

In [199]:
print("Number of users in train set : "+str(len(train_set_keys)))
print("Number of users in test set : "+str(len(test_set_keys)))

Number of users in train set : 792
Number of users in test set : 198

In [200]:
df_songs_heard_100_users['userid'].iloc[81181]

'user_000018'

In [201]:
train_set = df_songs_heard_100_users.groupby("userid").filter(lambda x: x['userid'].iloc[0] in train_set_keys)
test_set = df_songs_heard_100_users.groupby("userid").filter(lambda x: x['userid'].iloc[0] in test_set_keys)

In [202]:
len(train_set)

3131754

In [203]:
len(test_set)

790347

In [204]:
print("Number of users in train set : "+str(train_set['userid'].nunique()))
print("Number of users in test set : "+str(test_set['userid'].nunique()))

Number of users in train set : 792
Number of users in test set : 198

In [205]:
print('Fraction of train set : ' + str(train_set.shape[0]/total))

Fraction of train set : 0.7984888711432979

In [206]:
train_set.head()

,userid,artistid,song,time,gender,age,country,hour,slot
22,user_000001,45bdb5be-ec03-484f-b58d-d22afc944b24,Clouds,2009-05-03 14:39:20,f,22.0,Germany,14,3
26,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Seven,2009-05-03 14:07:40,f,22.0,Germany,14,3
28,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Five,2009-05-03 13:56:25,f,22.0,Germany,13,3
30,user_000001,ce559a88-58ba-4d8a-8456-9177412d609c,Three,2009-05-03 13:40:46,f,22.0,Germany,13,3
39,user_000001,3d05eb8b-1644-4143-9a61-b28e33c4d85f,Something In The Way,2009-05-02 15:19:46,f,22.0,Germany,15,3

### Removing artistid, time and hour columns

In [207]:
train_set_df = train_set.drop(['artistid','time','hour'], axis=1, inplace=False)
test_set_df = test_set.drop(['artistid','time','hour'], axis=1, inplace=False)

In [208]:
train_set_df.head()

         userid                  song gender   age  country  slot
22  user_000001                Clouds      f  22.0  Germany     3
26  user_000001                 Seven      f  22.0  Germany     3
28  user_000001                  Five      f  22.0  Germany     3
30  user_000001                 Three      f  22.0  Germany     3
39  user_000001  Something In The Way      f  22.0  Germany     3

### Creating train dataframes based on slots

In [253]:
grouped_train_set = train_set_df.groupby('slot')
grouped_test_set = test_set_df.groupby('slot')

In [254]:
train_first_slot_df = grouped_train_set.get_group(1)
train_second_slot_df = grouped_train_set.get_group(2)
train_third_slot_df = grouped_train_set.get_group(3)
train_fourth_slot_df = grouped_train_set.get_group(4)

test_first_slot_df = grouped_test_set.get_group(1)
test_second_slot_df = grouped_test_set.get_group(2)
test_third_slot_df = grouped_test_set.get_group(3)
test_fourth_slot_df = grouped_test_set.get_group(4)

In [255]:
train_first_slot_df.head()

          userid      song gender   age  country  slot
124  user_000001  Carry On      f  22.0  Germany     1
138  user_000001  Carry On      f  22.0  Germany     1
361  user_000001     Intro      f  22.0  Germany     1
419  user_000001     Intro      f  22.0  Germany     1
971  user_000001     Sugar      f  22.0  Germany     1

In [256]:
print('First train slot shape : ' + str(train_first_slot_df.shape))
print('Second train slot shape : ' + str(train_second_slot_df.shape))
print('Third train slot shape : ' + str(train_third_slot_df.shape))
print('Fourth train slot shape : ' + str(train_fourth_slot_df.shape))
print('')
print("Number of users in train_first_slot_df : " + str(train_first_slot_df['userid'].nunique()))
print("Number of users in train_second_slot_df : " + str(train_second_slot_df['userid'].nunique()))
print("Number of users in train_third_slot_df : " + str(train_third_slot_df['userid'].nunique()))
print("Number of users in train_fourth_slot_df : " + str(train_fourth_slot_df['userid'].nunique()))
print('')
print("Number of songs in train_first_slot_df : " + str(train_first_slot_df['song'].nunique()))
print("Number of songs in train_second_slot_df : " + str(train_second_slot_df['song'].nunique()))
print("Number of songs in train_third_slot_df : " + str(train_third_slot_df['song'].nunique()))
print("Number of songs in train_fourth_slot_df : " + str(train_fourth_slot_df['song'].nunique()))
print('')
print('First test slot shape : ' + str(test_first_slot_df.shape))
print('Second test slot shape : ' + str(test_second_slot_df.shape))
print('Third test slot shape : ' + str(test_third_slot_df.shape))
print('Fourth test slot shape : ' + str(test_fourth_slot_df.shape))
print('')
print("Number of users in test_first_slot_df : " + str(test_first_slot_df['userid'].nunique()))
print("Number of users in test_second_slot_df : " + str(test_second_slot_df['userid'].nunique()))
print("Number of users in test_third_slot_df : " + str(test_third_slot_df['userid'].nunique()))
print("Number of users in test_fourth_slot_df : " + str(test_fourth_slot_df['userid'].nunique()))
print('')
print("Number of songs in test_first_slot_df : " + str(test_first_slot_df['song'].nunique()))
print("Number of songs in test_second_slot_df : " + str(test_second_slot_df['song'].nunique()))
print("Number of songs in test_third_slot_df : " + str(test_third_slot_df['song'].nunique()))
print("Number of songs in test_fourth_slot_df : " + str(test_fourth_slot_df['song'].nunique()))

First train slot shape : (596866, 6)
Second train slot shape : (544262, 6)
Third train slot shape : (943222, 6)
Fourth train slot shape : (1047404, 6)

Number of users in train_first_slot_df : 737
Number of users in train_second_slot_df : 762
Number of users in train_third_slot_df : 784
Number of users in train_fourth_slot_df : 780

Number of songs in train_first_slot_df : 4034
Number of songs in train_second_slot_df : 4034
Number of songs in train_third_slot_df : 4034
Number of songs in train_fourth_slot_df : 4034

First test slot shape : (173856, 6)
Second test slot shape : (146390, 6)
Third test slot shape : (221677, 6)
Fourth test slot shape : (248424, 6)

Number of users in test_first_slot_df : 185
Number of users in test_second_slot_df : 188
Number of users in test_third_slot_df : 191
Number of users in test_fourth_slot_df : 193

Number of songs in test_first_slot_df : 4034
Number of songs in test_second_slot_df : 4034
Number of songs in test_third_slot_df : 4034
Number of songs in test_fourth_slot_df : 4034

In [306]:
# Get user-song-count dataframe for each slot

train_user_song_count_df_first = train_first_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
# test1 = 
# train_user_song_count_df_first = train_first_slot_df.copy()
# train_user_song_count_df_first['Count'] = train_first_slot_df.groupby(['userid','song'])['song'].transform('count')
# train_user_song_count_df_first = train_user_song_count_df_first.drop_duplicates()

train_user_song_count_df_second = train_second_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
train_user_song_count_df_third = train_third_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
train_user_song_count_df_fourth = train_fourth_slot_df.groupby(["userid","song"]).size().reset_index(name="count")

test_user_song_count_df_first = test_first_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
test_user_song_count_df_second = test_second_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
test_user_song_count_df_third = test_third_slot_df.groupby(["userid","song"]).size().reset_index(name="count")
test_user_song_count_df_fourth = test_fourth_slot_df.groupby(["userid","song"]).size().reset_index(name="count")

In [305]:
del train_user_song_count_df_first

In [307]:
train_user_song_count_df_first.head(10)

        userid                       song  count
0  user_000001                    15 Step      2
1  user_000001                 49 Percent      4
2  user_000001        A Moment Of Clarity      1
3  user_000001                      Alice      1
4  user_000001                     Always      2
5  user_000001                    Animals      1
6  user_000001            Atoms For Peace      1
7  user_000001  Beautiful Day Without You      2
8  user_000001       Blue Ridge Mountains      1
9  user_000001                   Carry On      2

In [241]:
train_user_song_count_df_first

,userid,song,gender,age,country,slot,count
0,user_000001,15 Step,2,2,2,2,2
1,user_000001,49 Percent,4,4,4,4,4
2,user_000001,A Moment Of Clarity,1,1,1,1,1
3,user_000001,Alice,1,1,1,1,1
4,user_000001,Always,2,2,2,2,2
5,user_000001,Animals,1,1,1,1,1
6,user_000001,Atoms For Peace,1,1,1,1,1
7,user_000001,Beautiful Day Without You,2,2,2,2,2
8,user_000001,Blue Ridge Mountains,1,1,1,1,1
9,user_000001,Carry On,2,2,2,2,2
10,user_000001,Charlie,1,1,1,1,1
11,user_000001,Circles,1,1,1,1,1
12,user_000001,City Lights,1,1,1,1,1
13,user_000001,Cover Me,1,1,1,1,1
14,user_000001,Dani California,1,1,1,1,1
15,user_000001,Dayvan Cowboy,1,1,1,1,1
16,user_000001,Death And All His Friends,1,1,1,1,1
17,user_000001,Down,1,1,1,1,1
18,user_000001,Dreaming,1,1,1,1,1
19,user_000001,Drop,1,1,1,1,1
20,user_000001,Earth Intruders,1,1,1,1,1
21,user_000001,Enjoy,1,1,1,1,1
22,user_000001,Everything Is Alright,4,4,4,4,4
23,user_000001,Follow My Ruin,3,3,3,3,3
24,user_000001,Forever,2,2,2,2,2
25,user_000001,Free,1,1,1,1,1
26,user_000001,Friday Night,1,1,1,1,1
27,user_000001,Get Out,1,1,1,1,1
28,user_000001,Give It To Me,1,1,1,1,1
29,user_000001,Go Away,1,1,1,1,1
...,...,...,...,...,...,...,...
196582,user_000800,Winter Wonderland,3,3,3,3,3
196583,user_000800,Wish,4,4,4,4,4
196584,user_000800,Wishbone,4,4,4,4,4
196585,user_000800,Wishing Well,1,1,1,1,1
196586,user_000800,With Or Without You,1,1,1,1,1
196587,user_000800,With You,1,1,1,1,1
196588,user_000800,Without You,3,3,3,3,3
196589,user_000800,Words,1,1,1,1,1
196590,user_000800,Wouldn'T It Be Nice,1,1,1,1,1
196591,user_000800,Y Control,1,1,1,1,1
196592,user_000800,Yellow,12,12,12,12,12
196593,user_000800,Yellow Submarine,2,2,2,2,2
196594,user_000800,Yes,1,1,1,1,1
196595,user_000800,Yesterday,2,2,2,2,2
196596,user_000800,You,3,3,3,3,3
196597,user_000800,You Belong To Me,2,2,2,2,2
196598,user_000800,You Can'T Always Get What You Want,2,2,2,2,2
196599,user_000800,You Never Know,2,2,2,2,2
196600,user_000800,You Oughta Know,2,2,2,2,2
196601,user_000800,You Really Got Me,1,1,1,1,1
196602,user_000800,You Shook Me,2,2,2,2,2
196603,user_000800,Young Americans,4,4,4,4,4
196604,user_000800,Your Time Is Gonna Come,2,2,2,2,2
196605,user_000800,Zero,7,7,7,7,7
196606,user_000800,Ziggy Stardust,1,1,1,1,1
196607,user_000800,[Untitled],4,4,4,4,4
196608,user_000801,Monument,1,1,1,1,1
196609,user_000801,Obsession,1,1,1,1,1
196610,user_000801,Opening,1,1,1,1,1
196611,user_000801,Vienna,1,1,1,1,1

In [226]:
test_user_song_count_df_first.head()

        userid                     song  count
0  user_000802  (Don'T Fear) The Reaper      1
1  user_000802                     100%      2
2  user_000802                     1979      2
3  user_000802             A Warm Place      2
4  user_000802                Addiction      1

In [47]:
# Get the max count for train and test set
train_max_count = test_user_song_count_df_first['count'].max()
test_max_count = test_user_song_count_df_first['count'].max()

## Surprise IGNORE TH

In [49]:
# Use the famous SVD algorithm.
algo = SVD(n_factors=250, n_epochs=250)
reader = surprise.reader.Reader(sep=',',rating_scale=(1, train_max_count))

In [50]:
train_data = surprise.Dataset.load_from_df(test_user_song_count_df_first[['userid', 'song', 'count']], reader)

In [51]:
#Use entire dataset as training data
trainset = train_data.build_full_trainset()

In [52]:
# Training
algo.fit(trainset)

In [57]:
test_data = test_user_song_count_df_first

In [59]:
# predict using test data
results = []
output = pd.DataFrame(columns = ['userid', 'song','score'])
for index, row in test_data.iterrows():
    prediction = algo.predict(row['userid'], row['song'], verbose=False)
#     key = str(str(row['userid']) + '-' + str(row['song']))
    predicted_rating = prediction.est
    output = output.append(pd.Series([str(row['userid']), str(row['song']), predicted_rating], index=output.columns), ignore_index=True)

KeyboardInterrupt:

In [64]:
output[:1000]

          userid                     song score
0    user_000802  (Don'T Fear) The Reaper   431
1    user_000802                     100%   431
2    user_000802                     1979   431
3    user_000802             A Warm Place   431
4    user_000802                Addiction   431
..           ...                      ...   ...
995  user_000807                  Decades   431
996  user_000807                Desperado   431
997  user_000807                  Destiny   431
998  user_000807            Doctor Robert   431
999  user_000807          Don'T Look Back   431

[1000 rows x 3 columns]

In [63]:
test_data.shape

(51240, 3)